body{
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.B-card{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#CBE957,#313743) ;
    height: 400px;
    
}

.profile{
    width: 150px;
    border-radius: 10px;
}

.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    text-align: center;
    color: #CBE957;
    background: #313743;
    border-bottom: 6px solid #CBE957;
    border-radius: 10px;
    text-shadow: 4px 4px 4px black;    
}


.border{
        border: 2px dotted blue;
}